.product-detail {
    margin-top: 80px;
    margin-left: 60px; /* Adjust the value as needed to create space for the navigation bar */
}

.product-detail img {
    max-height: 40vh; /* Adjust the value as needed */
    width: auto;
}