.cart-no {
    position: absolute;
    width: 20px;
    height: 20px;
    min-height: 25px;
    max-height: 25px;
    border-radius: 50%;
    background: blue;
    color: white;
    text-align: center;
    line-height: 20px;
    top: -10px;
    right: 37px;
}

a {
    text-decoration: none;
    color: #343a40;

    &.active {
        color: orange;
    }
}

.logo {
    cursor: pointer;
}