.cart-no {
    position: absolute;
    width: 20px;
    height: 10px;
    min-height: 20px;
    max-height: 20px;
    border-radius: 50%;
    background: blue;
    color: white;
    text-align: center;
    line-height: 15px;
    top: -5px;
    right: 37px;
}

a {
    text-decoration: none;
    color: #343a40;

    &.active {
        color: orange;
    }
}

.logo {
    cursor: pointer;
}

.dropdown-menu li {
    width: 200px; /* Adjust the width as needed */
}